<h3>Iniciar sesión (test)</h3>

<button (click)="isPersonLogged = isPersonLogged ? false : true">State test button</button>
<section>
@if (isPersonLogged) {
    <h1>person is logged {{username}}</h1>
    <img
        (click)="clicardo()"
        alt="photo"
        src="https://github.com/gvanrossum.png"
        >
    <app-course (addFavoriteEvent)="getFavorite($event)" username="{{username}}"></app-course>
    @if (favChar !== '') {
        <p>Tu personaje favorito es {{favChar}}</p>
    }
} @else {
    <h1>person is unlogged</h1>
}
</section>
