/* src/app/app.component.css */

/* Asegurarse de que todo el fondo de la aplicación tenga el color de fondo */
:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
  }
  
  .main-container {
    flex: 1;
    background-color: var(--content-background-color);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
  
  /* Estilo para el header y footer */
  header, footer {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  
  /* Estilo para el contenedor principal */
  .container {
    background-color: var(--content-background-color);
  }
  
/*section {
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 500px;
    padding-top: 32px;
    margin: 0 auto;;
}

div {
    height: 100%;
}*/