
/* h1 {
    font-family: 'Courier New', Courier, monospace;
    background: forestgreen;
} */


section {
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 500px;
    padding-top: 32px;
    margin: 0 auto;;
}